
<div class="row">
  <div class="col-lg-6">
      <h2>Bubble Chart</h2>
      <canvas id="bubchart"></canvas>
  </div>
  <div class="col-lg-6">
      <h2>Scatter Chart</h2>
      <canvas id="scchart"></canvas>
  </div>
  <div class="col-lg-6">
      <h2>Bar Chart</h2>
      <canvas id="barchart"></canvas>
  </div>
  <div class="col-lg-6">
      <h2>Pie Chart</h2>
      <canvas id="piechart"></canvas>
  </div>
  <div class="col-lg-6">
      <h2>Doughnut Chart</h2>
      <canvas id="dochart"></canvas>
  </div>
  <div class="col-lg-6">
      <h2>polarArea Chart</h2>
      <canvas id="pochart"></canvas>
  </div>

  <div class="col-lg-6">
      <h2>Radar Chart</h2>
      <canvas id="rochart"></canvas>
  </div>

  

  
</div>