// .search{
//   margin-right: 200px;
// }

h1{
    font-size: 30px;
    font-style:italic;
    color: black;
    font-weight: 600;
}

.search-icon {
    color: rgb(12, 0, 0);
}

.inputClass{
    width: 60px;
}

.checkbox{
    width: 20px;
    height: 20px;
}