<div class="card-top container-fluid ">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <h6>Jewllery</h6>
            </a>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3 ">

                <!--double click-->
                <div ng-controller="app">
                    <img (dblclick)="addtocart(item)" src="{{item.image}}" alt="shiva">
                </div>


                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{item.title}}</h5>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <p><strong>Rating:</strong><b>{{item.rating.rate}}</b> </p>

                <div class="row">
                    <button class="btn btn-warning  abtn" (click)="addtocart(item)">Add to cart</button>
                    <!-- favour button -->
                    <button routerLink="favourite" (click)="addtoFavourt(item)" class="btn btn-secondary" id="favourbtn"
                        routerLinkActive="active"><i class="bi bi-heart ibtn"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg></button>
                </div>

                <p class="stock">Only <span>{{item.rating.count}}</span> stocks are left !</p>

            </div>
        </ng-container>

    </div>
</div>