<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
           
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">

                <!--double click-->
                <div ng-controller="app">
                     <img  (dblclick)="addtocart(item)" src="{{item.image}}" alt="shiva">
                </div>

                
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-warning" (click)=addtocart(item)>Add to cart</button>
                <p id="box" class="stock">Only <span>{{count}}</span> stocks are left !</p>
                <p>{{msg}}</p>
            </div>
        </ng-container>

    </div>
</div>

