/* You can add global styles to this file, and also import other style files */
// body{
//     margin-left: 15%;
// }
// button{
//     border-radius: 25px !important;
// }

h2{
    color: green;
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
