<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table id="tabledata" class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Total</th>
                            <th>Action</th>
                            <th>Grand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <th class="tcell" style="width: 12%;">{{item.category}}</th>

                            <!-- plus minus button -->
                            <!-- <div class="row">
                                <div class="col">
                                    <button (click)="incrementQuantity(item)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col ml-4 mr-2">
                                    {{item.quantity}}
                                </div>

                                <div class="col">
                                    <button (click)="decrementQuantity(item)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div> -->

                            <!-- ............. -->


                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i
                                        class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>


                            <td colspan="4"></td>
                            <!-- <td><button (click)="emptycart()" class="btn btn-primary">Empty Cart</button></td> -->
                            <td><button routerLink="/products" class="btn btn-success">Shop More</button></td>
                            <td><button (click)="emptycart()" class="btn btn-success">Delete All</button></td>
                            <td><strong> ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Favourites</h5>
        </div>
        <div class="center">
            <img src="https://cdn.pixabay.com/photo/2016/08/21/18/48/emoticon-1610518_960_720.png"
                alt="">
            <h6>Add products to your Favourite List</h6>
            <button routerLink="/products" class="btn btn-success eb">Shop More</button>
        </div>
    </div>
</ng-container>